@import "../../vars";
.container {
	position: relative;
}

.table {
	border-radius: 5px;
	border-collapse: collapse;
	width: 100%;
	border: 1px solid var(--color);
	.sorting {
		cursor: pointer;
	}
}
