@import "../../../vars";
.input {
	width: 300px;
	padding: 10px 15px;
	font-size: 16px;
	font-weight: 500;
	background: #cee0dc;
	outline: none;
	border: 2px solid transparent;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	color: rgb(0, 0, 0);
	transition: box-shadow 0.3s ease, border-color 0.3s ease;
	&:hover {
		border-color: $blue;
	}
	&:focus {
		box-shadow: $shadow;
		border-color: $blue;
	}
	&::placeholder {
		font-weight: 300;
		color: rgba(34, 32, 32, 0.898);
	}
}
